[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/planbtest
[access "refs/for/refs/*"]
	read = group user/planbtest
	push = group user/planbtest
	label-Code-Review = -2..+2 group user/planbtest
	label-Verified = -1..+1 group user/planbtest
	rebase = group user/planbtest
	removeReviewer = group user/planbtest
	submit = group user/planbtest
[access "refs/heads/*"]
	read = group user/planbtest
	create = group user/planbtest
	push = +force group user/planbtest
	pushMerge = group user/planbtest
[access "refs/tags/*"]
	push = +force group user/planbtest
	pushTag = group user/planbtest
	pushSignedTag = group user/planbtest
